body {
  width: 100vw;
  height: 100vh;
  background: var(--vscode-editor-background);
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reordergroup li {
  list-style: none;
  padding: 10px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.reordergroup ul {
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 50px;
}

.reordergroup li {
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  cursor: grab;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground, var(--vscode-editor-foreground));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

.custom-links {
  color: var(--vscode-textLink-foreground);
  cursor: pointer;
}

.custom-links:hover {
  text-decoration: underline;
}
