.Tooltip {
  background: var(--vscode-menu-selectionBackground);
  /* background: var(--vscode-quickInput-background); */
  color: white;
  pointer-events: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 0.85rem;
  overflow-x: hidden;
  z-index: 9999999999;
}
